/* HEADER */

.header {
  background-color: var(--color-700);
  color: var(--color-white);
  justify-content: space-between;
}

.header--heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-white);
  font-size: 1.3rem;
  padding: var(--space-sm) 0 var(--space-md) var(--space-lg);
}

.header--heading-secondary {
  text-transform: uppercase;
  color: var(--color-300);
  margin-bottom: 0.2rem;
}

.heading--heading-main {
  text-transform: uppercase;
}

.header--active-tab {
  color: var(--color-white);
  background-color: var(--color-700);
  border: none;
}

.header--right {
  gap: var(--space-md);
  justify-content: space-between;
}

.header--support-button {
  padding: var(--space-xs);
  background-color: var(--color-900);
  border-radius: var(--radius-pill);
  color: var(--color-white);
  font-size: 1.2rem;
}

.header--support-icon,
.header--logoff {
  width: var(--space-md);
  height: var(--space-md);
  color: var(--color-white);
}

.header--support {
  text-transform: uppercase;
}
.header--employee-img {
  width: var(--space-lg);
  height: var(--space-lg);
  border-radius: 50%;
  position: absolute;
  left: -2%;
}

.header--profile {
  position: relative;
  background-color: var(--color-900);
  border-radius: var(--radius-pill);
  font-size: 1.2rem;
  padding: 0.8rem;
  text-transform: uppercase;
}

.header--logged-in {
  color: var(--color-white);
  background-color: var(--color-900);
  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-lg);
  border-radius: var(--radius-pill);
  position: relative;
}

/* search */

.search--container {
  padding: 2rem;
  font-size: 2rem;
  justify-content: space-between;
}

.search--details,
.employee--header {
  padding: var(--space-md);
}

.search--details {
  grid-column: 1/3;
  display: flex;
  gap: var(--space-md);
  justify-content: space-between;
  align-items: center;
}

.flex-left,
.flex-right {
  display: flex;
  align-items: center;
}

.flex-right {
  justify-content: space-between;
  font-size: 1.2rem;
}

.flex-left {
  font-size: 1.6rem;
  justify-content: center;
}
.employee-displayed {
  font-size: 1.4rem;
  color: var(--color-darker-grey);
  font-weight: bold;
}

.search--basic,
.search--advanced {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.search--basic-container,
.search--advanced-container {
  padding: var(--space-md);
}

.search--advanced-form *,
.search--basic-form * {
  min-width: 0;
}

.grid--icon,
.menu--icon {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--color-grey);

  width: var(--space-md);
  height: var(--space-md);
}

.search--basic-form {
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  gap: var(--space-md);
  background-color: var(--color-white);
  border-radius: 1%;
  height: 15rem;
}

.user-input {
  outline: none;
  text-decoration: none;
  border: 1px solid var(--color-grey);
  padding: 0.8rem;
}

.user-input:focus {
  border: 1px solid var(--color-300);
}

/* search advanced */

label {
  font-size: 1.3rem;
  font-weight: 600;
}

.search--advanced-form {
  grid-row: 2/3;
  background-color: var(--color-white);
  padding: var(--space-lg);
  height: 40rem;
}
@media only screen and (max-width: 68em) {
  .search--advanced-form {
    height: 45rem;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xs);
  margin-bottom: var(--space-sm);
  width: 100%;
}

.grid-row-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xs);
}

.grid-row-2-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-xs);
  width: 100%;
}

.search--submit {
  background-color: var(--color-500);
  padding: var(--space-sm);
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 5%;
  font-size: 1rem;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: var(--color-lighter-grey);
  column-gap: var(--space-lg);

  padding: var(--space-lg);
}

.grid-container > * {
  min-width: 0;
}

.search--advanced,
.search--basic {
  cursor: pointer;
  color: var(--color-grey);
}

/* EMPLOYEEE */

.employee-grid--img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: var(--space-md);
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--space-sm);
}

.employee-ind {
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.employee--flex-container {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--space-md);
}

.employee--flex-item {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.4rem;
}
.border {
  width: 100%;
  height: 2px;
  background-color: var(--color-lighter-grey);
}

.employee-grid--name {
  font-size: 1.8rem;
  margin-bottom: 3.7rem;
  font-weight: 600;
}

.employee--icon,
.icon {
  color: var(--color-500);
  width: 1.5rem;
  height: 1.5rem;
}

.employee-menu,
.employee-grid,
.nothing-found {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* menu view */

.employee-menu {
  display: flex;
  flex-direction: column;
}

.first-row,
.employee-row {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  background-color: var(--color-white);
  align-items: center;
  border-radius: 3%;

  font-size: 1.5rem;
  font-weight: 400;
}

.first-row {
  margin-bottom: var(--space-sm);
  padding: var(--space-sm);
}

.employee-row {
  margin-bottom: var(--space-sm);
}

.employee-menu--img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-left: var(--space-sm);
}

.employee-menu--name {
  font-size: 1.5rem;
}

.employee-menu--department,
.employee-menu--room {
  color: var(--color-darker-grey);
  font-size: 1.5rem;
}

/* nothing found section */
.nothing--found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  gap: 4rem;
}

.go-back {
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-700);
  width: fit-content;
  border-radius: var(--border-small);
}
