:root {
  --color-900: #1450af;
  --color-700: #1e5dbe;
  --color-500: #5591ff;
  --color-300: #a5c4fd;
  --color-white: #fff;
  --color-darker-grey: #808080;
  --color-lighter-grey: #efeff3;
  --color-grey: #bebebe;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px=62.5 */
}

body {
  font-family: "Roboto", sans-serif;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
}

.flex--horizontal {
  display: flex;

  align-items: center;
  gap: 1rem;
}

button {
  background: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

/* HEADER */

.header {
  text-decoration: none;
  background-color: var(--color-700);
  color: var(--color-white);
  justify-content: space-between;
}
.header--heading {
  padding: 1rem 0rem 2rem 3rem;
}

.header--heading-secondary {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-300);
  margin-bottom: 0.2rem;
}

.heading--heading-main {
  text-decoration: none;
  text-transform: uppercase;
}

.header--active-tab {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-700);
  border: none;

  /* border-bottom: 1px solid var(--color-medium); */
}
.header--right {
  gap: 2rem;
  justify-content: space-between;
}

.header--support-button {
  padding: 0.5rem;
  background-color: var(--color-900);
  border-radius: 80px;
  color: var(--color-white);
  font-size: 1.2rem;
}

.header--support-icon {
  width: 2rem;
  height: 2rem;
}

.header--support {
  text-transform: uppercase;
}

/* .header--profile {
} */

.header--employee-img {
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -4%;
}

.header--profile {
  position: relative;
  background-color: var(--color-900);
  border-radius: 80px;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 1rem 1rem 3rem;
}

.header--employee {
  color: var(--color-white);
}
.header--logoff {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-900);
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 3rem;
  color: var(--color-white);
}

/* search */

.search--details,
.employee--header {
  padding: 2rem;
}
.search--details {
  grid-column: 1/3;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.flex-left,
.flex-right {
  display: flex;
  align-items: center;
}
.flex-right {
  justify-content: space-between;
  font-size: 1.2rem;
}

.flex-left {
  font-size: 1.6rem;
  justify-content: center;
}
.employee-displayed {
  font-size: 1.4rem;
  color: var(--color-darker-grey);
  font-weight: bold;
}

.search--basic,
.search--advanced {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.search--basic-container,
.search--advanced-container {
  padding: 2rem;
}

.grid--icon,
.menu--icon {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--color-grey);
}

.search--basic-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  background-color: var(--color-white);
  border-radius: 1%;
  height: 15rem;
}

.user-input {
  outline: none;
  text-decoration: none;
  border: 1px solid var(--color-grey);
  padding: 0.5rem;
}

.user-input:focus {
  border: 1px solid var(--color-300);
}

.search--advanced-form {
  background-color: var(--color-white);
  padding: 3rem;
  height: 40rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.grid-row-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.grid-row-2-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  width: 100%;
}

.search--submit {
  background-color: var(--color-500);
  padding: 1rem;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 5%;
  font-size: 1rem;
}

.adv {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: var(--color-lighter-grey);
  column-gap: 3rem;

  padding: 3rem;
}
.search--advanced,
.search--basic {
  cursor: pointer;
  color: var(--color-grey);
}

/* EMPLOYEEE */

.employee-grid--img {
  width: 15rem;
  height: auto;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.employee-ind {
  padding: 1rem 2rem;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.employee--flex-container {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.employee--flex-item {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.4rem;
}
.border {
  width: 100%;
  height: 2px;
  background-color: var(--color-lighter-grey);
}

.employee-grid--name {
  font-size: 1.8rem;
  margin-bottom: 3.7rem;
  font-weight: 600;
}

.icon {
  color: var(--color-500);
  width: 1.5rem;
  height: 1.5rem;
}

.employee-menu,
.employee-grid,
.nothing-found {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* menu view */

.first-row,
.employee-row {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  background-color: var(--color-white);
  align-items: center;
  border-radius: 3%;

  font-size: 1.1rem;
  font-weight: 400;
}

.first-row {
  margin-bottom: 1rem;
  padding: 1rem;
}

.employee-row {
  margin-bottom: 0.5rem;
}

.employee-menu--img {
  height: 8rem;
  width: 8rem;
}

/* nothing found section */
.nothing-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  color: var(--color-darker-grey);
  gap: 3rem;
}

/* FUNCTIONALITY */

.search__radio--advanced,
.search__radio--basic,
.view__radio--grid,
.view__radio--menu {
  display: none;
}

.view__radio--menu:checked + .view--menu .menu--icon,
.view__radio--grid:checked + .view--grid .grid--icon {
  color: var(--color-700);
}

.search__radio--basic:checked + .search--basic,
.search__radio--advanced:checked + .search--advanced {
  color: black;
}

.search--basic-container:has(.search__radio--basic:checked),
.search--advanced-container:has(.search__radio--advanced:checked) {
  border-bottom: 3px solid var(--color-700);
}
.search--basic-form,
.search--advanced-form {
  opacity: 0;
  visibility: hidden;
  grid-row: 2/3;
  grid-column: 1/2;
}

.flex-left:has(.search__radio--basic:checked) ~ .search--basic-form,
.flex-left:has(.search__radio--advanced:checked) ~ .search--advanced-form {
  opacity: 1;
  visibility: visible;
}

.employee-grid,
.employee-menu {
  opacity: 0;
  visibility: hidden;
}

.flex-right:has(.view__radio--grid:checked) ~ .employee-grid,
.flex-right:has(.view__radio--menu:checked) ~ .employee-menu {
  opacity: 1;
  visibility: visible;
}
