:root {
  --color-900: #1450af;
  --color-700: #1e5dbe;
  --color-500: #5591ff;
  --color-300: #a5c4fd;
  --color-white: #fff;
  --color-font: #3f3e3e;
  --color-darker-grey: #808080;
  --color-lighter-grey: #efeff3;
  --color-grey: #bebebe;

  /* 
  BREAKPOINTS
  1100px
  --bp-large: 68em;
  900px/16px
  --bp-medium: 56.25em; 
  500px
  --bp-smallest: 31.25em;

  */
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px, 10px/16px=62.5 */
  color: var(--color-font);
}

@media only screen and (max-width: 68em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--color-lighter-grey);
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
}

.hidden {
  display: none !important;
}

.clicked {
  color: var(--color-900) !important;
}

.flex--horizontal {
  display: flex;

  align-items: center;
  gap: 1rem;
}

button {
  background: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

/* HEADER */

.header {
  text-decoration: none;
  background-color: var(--color-700);
  color: var(--color-white);
  justify-content: space-between;
}

.header--heading {
  padding: 1rem 0rem 2rem 3rem;
}

.header--heading-secondary {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-300);
  margin-bottom: 0.2rem;
}

.heading--heading-main {
  text-decoration: none;
  text-transform: uppercase;
}

.header--active-tab {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-700);
  border: none;

  /* border-bottom: 1px solid var(--color-medium); */
}
.header--right {
  gap: 2rem;
  justify-content: space-between;
}

.header--support-button {
  padding: 0.5rem;
  background-color: var(--color-900);
  border-radius: 80px;
  color: var(--color-white);
  font-size: 1.2rem;
}

.header--support-icon,
.header--logoff {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
}

.header--logoff {
  transform: scale(1.5);
}

.header--support {
  text-transform: uppercase;
}

/* .header--profile {
} */

.header--employee-img {
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: -4%;
}

.header--profile {
  position: relative;
  background-color: var(--color-900);
  border-radius: 80px;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 1rem 1rem 3rem;
}

.header--employee {
  color: var(--color-white);
}
.header--logoff {
  background-color: var(--color-900);
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 3rem;
}

/* search */

.search--details,
.employee--header {
  padding: 2rem;
}
.search--details {
  grid-column: 1/3;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.flex-left,
.flex-right {
  display: flex;
  align-items: center;
}
.flex-right {
  justify-content: space-between;
  font-size: 1.2rem;
}

.flex-left {
  font-size: 1.6rem;
  justify-content: center;
}
.employee-displayed {
  font-size: 1.4rem;
  color: var(--color-darker-grey);
  font-weight: bold;
}

.search--basic,
.search--advanced {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.search--basic-container,
.search--advanced-container {
  padding: 2rem;
}

.search--advanced-form *,
.search--basic-form * {
  min-width: 0;
}

.grid--icon,
.menu--icon {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--color-grey);

  width: 2rem;
  height: 2rem;
}

.search--basic-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  background-color: var(--color-white);
  border-radius: 1%;
  height: 26rem;
}

.user-input {
  outline: none;
  text-decoration: none;
  border: 1px solid var(--color-grey);
  padding: 0.8rem;
}

.user-input:focus {
  border: 1px solid var(--color-300);
}

/* search advanced */

label {
  font-size: 1.3rem;
  font-weight: 600;
}

.search--advanced-form {
  grid-row: 2/3;
  background-color: var(--color-white);
  padding: 3rem;
  height: 40rem;
}
@media only screen and (max-width: 68em) {
  .search--advanced-form {
    height: 45rem;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.grid-row-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.grid-row-2-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  width: 100%;
}

.search--submit {
  background-color: var(--color-500);
  padding: 1rem;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 5%;
  font-size: 1rem;
}

.adv {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: var(--color-lighter-grey);
  column-gap: 3rem;

  padding: 3rem;
}

.grid-container > * {
  min-width: 0;
}

.search--advanced,
.search--basic {
  cursor: pointer;
  color: var(--color-grey);
}

/* EMPLOYEEE */

.employee-grid--img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .employee-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.employee-ind {
  padding: 1rem 2rem;
  background-color: var(--color-white);

  display: flex;
  flex-direction: column;

  align-items: center;
}

.employee--flex-container {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.employee--flex-item {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.4rem;
}
.border {
  width: 100%;
  height: 2px;
  background-color: var(--color-lighter-grey);
}

.employee-grid--name {
  font-size: 1.8rem;
  margin-bottom: 3.7rem;
  font-weight: 600;
}

.employee--icon,
.icon {
  color: var(--color-500);
  width: 1.5rem;
  height: 1.5rem;
}

.employee-menu,
.employee-grid,
.nothing-found {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* menu view */

.employee-menu {
  display: flex;
  flex-direction: column;
}

.first-row,
.employee-row {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  background-color: var(--color-white);
  align-items: center;
  border-radius: 3%;

  font-size: 1.5rem;
  font-weight: 400;
}

.first-row {
  margin-bottom: 1rem;
  padding: 1rem;
}

.employee-row {
  margin-bottom: 0.5rem;
}

.employee-menu--img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.employee-menu--name {
  font-size: 1.5rem;
}

.employee-menu--department,
.employee-menu--room {
  color: var(--color-darker-grey);
  font-size: 1.5rem;
}

/* nothing found section */
.nothing-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  color: var(--color-darker-grey);
  gap: 3rem;
}

/* FUNCTIONALITY */

/*  details*/

.avatar-section--img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.user--details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 4rem;
  background-color: var(--color-white);
  border-radius: 2px;
}

.avatar-section {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid var(--color-lighter-grey);
}

.avatar-section--full {
  font-weight: bold;
  font-size: 3rem;
}

.avatar-section--native {
  color: var(--color-darker-grey);
  font-size: 2rem;
  font-weight: bold;
}

.avatar-section--copy {
  background-color: var(--color-lighter-grey);
  color: var(--color-darker-grey);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 80px;
  margin-bottom: 1rem;
}

.avatar-section--link {
  color: var(--color-darker-grey);
}

.avatar-section--edit {
  text-transform: uppercase;
  font-weight: 550;

  padding: 1rem;
  border-radius: 2px;
  border: 1px solid var(--color-lighter-grey);
}

/* .details--section {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
.details-section {
  padding: 5rem;
  font-size: 2rem;
  color: var(--color-darker-grey);
}
.details-section-icon {
  font-size: 2.5rem;
  /* some are icons with svg elements, some are
  already colored downloads with img element,
  this is needed for the first one */
  color: var(--color-500);
  width: 2rem;
  height: 2rem;
}
.details-section--row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: 1rem;
}

.details-section--general {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 2px solid var(--color-lighter-grey);
}

.last {
  margin-bottom: 3rem;
}
